@font-face {
	font-family: 'SuisseIntl';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SuisseIntl-Light-WebXL.eot'),
		/* IE9 Compat Modes */ url('../fonts/SuisseIntl-Light-WebXL.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/SuisseIntl-Light-WebXL.woff2') format('woff2'),
		/* Super Modern Browsers */ url('../fonts/SuisseIntl-Light-WebXL.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/SuisseIntl-Light-WebXL.ttf') format('truetype');
}

// /* cormorant-300 - latin */
// @font-face {
// 	font-family: 'Cormorant';
// 	font-style: normal;
// 	font-weight: 300;
// 	src: url('../fonts/cormorant-v7-latin-300.eot'); /* IE9 Compat Modes */
// 	src: local('Cormorant Light'), local('Cormorant-Light'),
// 		url('../fonts/cormorant-v7-latin-300.eot?#iefix') format('embedded-opentype'),
// 		/* IE6-IE8 */ url('../fonts/cormorant-v7-latin-300.woff2') format('woff2'),
// 		/* Super Modern Browsers */ url('../fonts/cormorant-v7-latin-300.woff') format('woff'),
// 		/* Modern Browsers */ url('../fonts/cormorant-v7-latin-300.ttf') format('truetype'),
// 		/* Safari, Android, iOS */ url('../fonts/cormorant-v7-latin-300.svg#Cormorant') format('svg'); /* Legacy iOS */
// }
/* cormorant-regular - latin */
// @font-face {
// 	font-family: 'Cormorant';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('../fonts/cormorant-v7-latin-regular.eot'); /* IE9 Compat Modes */
// 	src: local('Cormorant Regular'), local('Cormorant-Regular'),
// 		url('../fonts/cormorant-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
// 		/* IE6-IE8 */ url('../fonts/cormorant-v7-latin-regular.woff2') format('woff2'),
// 		/* Super Modern Browsers */ url('../fonts/cormorant-v7-latin-regular.woff') format('woff'),
// 		/* Modern Browsers */ url('../fonts/cormorant-v7-latin-regular.ttf') format('truetype'),
// 		/* Safari, Android, iOS */ url('../fonts/cormorant-v7-latin-regular.svg#Cormorant') format('svg'); /* Legacy iOS */
// }
// /* cormorant-500 - latin */
// @font-face {
// 	font-family: 'Cormorant';
// 	font-style: normal;
// 	font-weight: 500;
// 	src: url('../fonts/cormorant-v7-latin-500.eot'); /* IE9 Compat Modes */
// 	src: local('Cormorant Medium'), local('Cormorant-Medium'),
// 		url('../fonts/cormorant-v7-latin-500.eot?#iefix') format('embedded-opentype'),
// 		/* IE6-IE8 */ url('../fonts/cormorant-v7-latin-500.woff2') format('woff2'),
// 		/* Super Modern Browsers */ url('../fonts/cormorant-v7-latin-500.woff') format('woff'),
// 		/* Modern Browsers */ url('../fonts/cormorant-v7-latin-500.ttf') format('truetype'),
// 		/* Safari, Android, iOS */ url('../fonts/cormorant-v7-latin-500.svg#Cormorant') format('svg'); /* Legacy iOS */
// }
// /* cormorant-600 - latin */
@font-face {
	font-family: 'Cormorant';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/cormorant-v7-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Cormorant SemiBold'), local('Cormorant-SemiBold'),
		url('../fonts/cormorant-v7-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/cormorant-v7-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */ url('../fonts/cormorant-v7-latin-600.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/cormorant-v7-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('../fonts/cormorant-v7-latin-600.svg#Cormorant') format('svg'); /* Legacy iOS */
}
/* cormorant-700 - latin */
// @font-face {
// 	font-family: 'Cormorant';
// 	font-style: normal;
// 	font-weight: 700;
// 	src: url('../fonts/cormorant-v7-latin-700.eot'); /* IE9 Compat Modes */
// 	src: local('Cormorant Bold'), local('Cormorant-Bold'),
// 		url('../fonts/cormorant-v7-latin-700.eot?#iefix') format('embedded-opentype'),
// 		/* IE6-IE8 */ url('../fonts/cormorant-v7-latin-700.woff2') format('woff2'),
// 		/* Super Modern Browsers */ url('../fonts/cormorant-v7-latin-700.woff') format('woff'),
// 		/* Modern Browsers */ url('../fonts/cormorant-v7-latin-700.ttf') format('truetype'),
// 		/* Safari, Android, iOS */ url('../fonts/cormorant-v7-latin-700.svg#Cormorant') format('svg'); /* Legacy iOS */
// }
