$primary: red;
$secondary: blue;
$fg: #d0d6e0;
$bg: #000000;

$white: #f1f1f1;

$spaceDesktop: 100px;
$spaceMobile: 50px;

#preloader {
	width: 100%;
	height: 100vh;
	display: flex;
	top: 0;
	left: 0;

	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 99999999;
	top: 100vh;
	transition: top 1s ease;
	pointer-events: none;

	background: rgb(131, 58, 180);
	background: linear-gradient(0deg, rgba(8, 0, 148, 1) 0%, rgba(56, 199, 228, 1) 36%, rgba(9, 121, 60, 1) 100%);

	&.visible {
		top: 0;
	}

	.preloader-logo {
		max-width: 900px;

		@keyframes ani {
			from {
				transform: scale(0.6);
			}
			to {
				transform: scale(1);
			}
		}

		h1 {
			color: #f1f1f1;
			line-height: 100%;
			text-align: center;
			font-family: 'Cormorant', times, serif;
			// font-family: 'SuisseIntl', Helvetica, Arial, sans-serif;
			font-weight: 400;
		}

		animation-name: ani;
		animation-duration: 3s;
	}
}

img {
	width: 100%;
}
body {
	font-family: 'SuisseIntl', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 160%;
	color: #000000;
	background: $white;
}

.intro {
	cursor: pointer;
	h2.sans {
		font-size: calc(10px + 2vw);
	}
	.sans {
		font-family: 'SuisseIntl', Helvetica, Arial, sans-serif;
		font-weight: 400;
	}

	.serif {
		font-family: 'Cormorant', times, serif;
		font-weight: 600;
		letter-spacing: -0.04em !important;
		margin-bottom: 10px;
	}

	display: flex;
	align-items: center;
	min-height: 100vh;

	.sans {
		font-size: calc(16px + 0.6vw);
		line-height: 110%;
	}

	.serif {
		font-size: calc(40px + 5.8vw);
		line-height: 80%;
		.sans {
			font-size: calc(22px + 2.8vw);
			line-height: 80%;
		}
	}
}

.claim {
	font-family: 'Cormorant', times, serif;
	font-weight: 600;
	text-align: center;
	margin-bottom: 25px;
}

.story .claim {
	text-align: center;
}

.container {
	background: transparent;
}

.container {
	width: 100%;
	max-width: 1500px;
	padding: 0 15px;
	margin: 0 auto;
}

video {
	width: 100%;
}
.flex-center-vert {
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro-kurs {
	display: inline-block;
	padding: 15px;
}

hr {
	border: 0;
	height: 1px;
	background: #aaaaaa;
	margin: 0;
}

.spacer {
	height: $spaceDesktop;
}

@media (max-width: 992px) {
	.spacer {
		height: $spaceMobile;
	}
}

#main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	#logo {
		width: 200px;
		z-index: 99999;
	}
}

footer {
	#logo {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 30px 0;
		img {
			width: 200px;
			z-index: 99999;
			margin: 20px;
		}
	}
}

#ctas {
	.cta {
		background: $fg;
		display: flex;
		padding: 15px;
		width: 100%;
		min-height: 300px;
		position: relative;
	}
}

#intro {
	position: relative;

	.arrows {
	}
}

// .kurs {
// 	padding: 15px;
// 	background: #ffffff;
// }

#kurse {
	h4 {
		margin-bottom: 10px;
	}
}

.kurs-head {
	min-height: 110px;
}

.kurs-desc {
	margin-bottom: 10px;
}

.kurs-meta {
	p {
		font-family: 'SuisseIntlMono';
		font-size: 12px;
	}
}

#intro {
	* {
		color: black !important;
	}
}

.text-center {
	text-align: center;
	* {
		text-align: center;
	}
}
.container-fluid {
	background: transparent;
}

.v {
	width: 100%;
	display: flex;
	justify-content: center;

	video {
		width: 40%;
		max-width: 300px;
	}
}

.navArrows {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	pointer-events: none;

	* {
		padding: 15px;
		pointer-events: all;
		pointer-events: all;
	}
}

.gradient {
	background: linear-gradient(252deg, #275ece, #27ce70, #fd0a0a);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 14s ease infinite;
	-moz-animation: AnimationName 14s ease infinite;
	animation: AnimationName 14s ease infinite;

	@-webkit-keyframes AnimationName {
		0% {
			background-position: 0% 58%;
		}
		50% {
			background-position: 100% 43%;
		}
		100% {
			background-position: 0% 58%;
		}
	}
	@-moz-keyframes AnimationName {
		0% {
			background-position: 0% 58%;
		}
		50% {
			background-position: 100% 43%;
		}
		100% {
			background-position: 0% 58%;
		}
	}
	@keyframes AnimationName {
		0% {
			background-position: 0% 58%;
		}
		50% {
			background-position: 100% 43%;
		}
		100% {
			background-position: 0% 58%;
		}
	}
}

#abspann {
	* {
		color: white;
	}
}

.grad_box {
	background: #333;
	background: -webkit-linear-gradient(left bottom, #804 10%, #408 30%, #480 50%, #048 70%, #804 90%);
	background: -moz-linear-gradient(bottom right, #804 10%, #408 30%, #480 50%, #048 70%, #804 90%);
	background: linear-gradient(to bottom right, #804 10%, #408 30%, #480 50%, #048 70%, #804 90%);
	background-size: 800%;
	display: block;
	min-height: 100vh;
	width: 100%;

	-webkit-animation: moving_bg 6s ease infinite;
	-moz-animation: moving_bg 6s ease infinite;
	animation: moving_bg 6s ease infinite;
}

@-webkit-keyframes moving_bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes moving_bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes moving_bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.poster {
	display: block;
	box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.24);
	margin-bottom: 22px;
}

@keyframes introani {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}

#intro-visual {
	animation-name: introani;
	animation-duration: 6s;
}

#toplogo {
	img {
	}
}

#toplogo  {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 0;
}

#toplogo {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 0;
	left: 0;
	img {
		padding: 15px;
		width: 100%;
		max-width: 200px;
	}
}
