h1,
h2,
h3,
h4,
h5 {
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

/* TYPO */

@media (max-width: 500px) {
	p,
	ul,
	li {
		font-size: 14px;
		line-height: 160%;
	}

	p.lead {
		font-size: 18px;
		line-height: 145% !important;
	}
	h2.lead,
	h3.lead,
	#mobile-nav a.mobile-nav-item {
		font-size: 18px;
		line-height: 119% !important;
	}
}

@media (min-width: 501px) {
	p,
	ul,
	li {
		font-size: 15px;
		line-height: 160%;
	}

	p {
		margin: 0;
	}

	p.lead {
		font-size: 19px;
		line-height: 145% !important;
	}

	h2.lead,
	h3.lead,
	a.lead,
	#mobile-nav a.mobile-nav-item {
		font-size: 19px !important;
		line-height: 119% !important;
	}
}

@media (min-width: 767px) {
	p,
	ul,
	li {
		font-size: 16px;
		line-height: 160%;
	}

	p.lead {
		font-size: 23px;
		line-height: 145% !important;
	}

	h2.lead,
	h3.lead,
	a.lead,
	#mobile-nav a.mobile-nav-item {
		font-size: 23px !important;
		line-height: 119% !important;
	}
}

@media (min-width: 900px) {
	p,
	ul,
	li {
		font-size: 16px;
		line-height: 160%;
	}

	p.lead {
		font-size: 26px;
		line-height: 145% !important;
	}

	h2.lead,
	h3.lead,
	a.lead,
	#mobile-nav a.mobile-nav-item {
		font-size: 26px !important;
		line-height: 119% !important;
	}
}

@media (min-width: 1200px) {
	p,
	ul,
	li {
		font-size: 17px;
		line-height: 160%;
	}

	p.lead {
		font-size: 35px;
		line-height: 145% !important;
	}

	h2.lead,
	h3.lead,
	a.lead,
	#mobile-nav a.mobile-nav-item {
		font-size: 35px !important;
		line-height: 119% !important;
	}
}
