/*
 =========================================
 Reset
 =========================================
*/

a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none !important;
}

* {
	font-variant-ligatures: normal;
	letter-spacing: -0.02em !important;
}

button:active,
button:focus,
button:active:focus {
	box-shadow: none !important;
	outline: none !important;
	outline-style: hidden !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	outline-color: transparent !important;
}

/*
 =========================================
 STACKS
 =========================================
*/

.parent,
.child {
	width: 100%;
}

.parent {
	position: relative;
}

.child {
	position: absolute;
}

img {
	vertical-align: top;
}

/*
 =========================================
 IFRAMES
 =========================================
*/

/* 16:9 video embeds */
.video-16-9 {
	position: relative;
	padding-bottom: 55%;
	padding-top: 15px;
	height: 0;
	overflow: hidden;
}

.video-16-9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 1:1 video embeds */
.video-1-1 {
	position: relative;
	padding-bottom: 98%;
	padding-top: 15px;
	height: 0;
	overflow: hidden;
}

.video-1-1 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 4:3 video embeds */
.video-4-3 {
	position: relative;
	padding-bottom: 73%;
	padding-top: 15px;
	height: 0;
	overflow: hidden;
}

.video-4-3 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-selfhosted-wrapper video {
	width: 100%;
}

video {
	cursor: pointer;
}

/*
 =========================================
 FLEXBOX
 =========================================
*/
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*
 =========================================
 SPACE
 =========================================
*/

.m-top-0 {
	margin-top: 0px;
}

.m-bot-0 {
	margin-bottom: 0px;
}

.p-top-0 {
	padding-top: 0px;
}

.p-bot-0 {
	padding-bottom: 0px;
}

.m-top-10 {
	margin-top: 10px;
}

.m-bot-10 {
	margin-bottom: 10px;
}

.p-top-10 {
	padding-top: 10px;
}

.p-bot-10 {
	padding-bottom: 10px;
}

.m-top-15 {
	margin-top: 15px;
}

.m-bot-15 {
	margin-bottom: 15px;
}

.p-top-15 {
	padding-top: 15px;
}

.p-bot-15 {
	padding-bottom: 15px;
}

.m-top-20 {
	margin-top: 20px;
}

.m-bot-20 {
	margin-bottom: 20px;
}

.p-top-20 {
	padding-top: 20px;
}

.p-bot-20 {
	padding-bottom: 20px;
}

.m-top-30 {
	margin-top: 30px;
}

.m-bot-30 {
	margin-bottom: 30px;
}

.p-top-30 {
	padding-top: 30px;
}

.p-bot-30 {
	padding-bottom: 30px;
}

.m-top-25 {
	margin-top: 25px;
}

.m-bot-25 {
	margin-bottom: 25px;
}

.p-top-25 {
	padding-top: 25px;
}

.p-bot-25 {
	padding-bottom: 25px;
}

.m-top-50 {
	margin-top: 50px;
}

.m-bot-50 {
	margin-bottom: 50px;
}

.p-top-50 {
	padding-top: 50px;
}

.p-bot-50 {
	padding-bottom: 50px;
}

.m-top-75 {
	margin-top: 75px;
}

.m-bot-75 {
	margin-bottom: 75px;
}

.p-top-75 {
	padding-top: 75px;
}

.p-bot-75 {
	padding-bottom: 75px;
}

.m-top-100 {
	margin-top: 100px;
}

.m-bot-100 {
	margin-bottom: 100px;
}

.p-top-100 {
	padding-top: 100px;
}

.p-bot-100 {
	padding-bottom: 100px;
}

.m-top-125 {
	margin-top: 125px;
}

.m-bot-125 {
	margin-bottom: 125px;
}

.p-top-125 {
	padding-top: 125px;
}

.p-bot-125 {
	padding-bottom: 125px;
}

.m-top-150 {
	margin-top: 150px;
}

.m-bot-150 {
	margin-bottom: 150px;
}

.p-top-150 {
	padding-top: 150px;
}

.p-bot-150 {
	padding-bottom: 150px;
}

@media only screen and (min-width: 480px) {
	.m-top-xs-0 {
		margin-top: 0px;
	}
	.m-bot-xs-0 {
		margin-bottom: 0px;
	}
	.p-top-xs-0 {
		padding-top: 0px;
	}
	.p-bot-xs-0 {
		padding-bottom: 0px;
	}
	.m-top-xs-10 {
		margin-top: 10px;
	}
	.m-bot-xs-10 {
		margin-bottom: 10px;
	}
	.p-top-xs-10 {
		padding-top: 10px;
	}
	.p-bot-xs-10 {
		padding-bottom: 10px;
	}
	.m-top-xs-15 {
		margin-top: 15px;
	}
	.m-bot-xs-15 {
		margin-bottom: 15px;
	}
	.p-top-xs-15 {
		padding-top: 15px;
	}
	.p-bot-xs-15 {
		padding-bottom: 15px;
	}
	.m-top-xs-20 {
		margin-top: 20px;
	}
	.m-bot-xs-20 {
		margin-bottom: 20px;
	}
	.p-top-xs-20 {
		padding-top: 20px;
	}
	.p-bot-xs-20 {
		padding-bottom: 20px;
	}
	.m-top-xs-30 {
		margin-top: 30px;
	}
	.m-bot-xs-30 {
		margin-bottom: 30px;
	}
	.p-top-xs-30 {
		padding-top: 30px;
	}
	.p-bot-xs-30 {
		padding-bottom: 30px;
	}
	.m-top-xs-25 {
		margin-top: 25px;
	}
	.m-bot-xs-25 {
		margin-bottom: 25px;
	}
	.p-top-xs-25 {
		padding-top: 25px;
	}
	.p-bot-xs-25 {
		padding-bottom: 25px;
	}
	.m-top-xs-50 {
		margin-top: 50px;
	}
	.m-bot-xs-50 {
		margin-bottom: 50px;
	}
	.p-top-xs-50 {
		padding-top: 50px;
	}
	.p-bot-xs-50 {
		padding-bottom: 50px;
	}
	.m-top-xs-75 {
		margin-top: 75px;
	}
	.m-bot-xs-75 {
		margin-bottom: 75px;
	}
	.p-top-xs-75 {
		padding-top: 75px;
	}
	.p-bot-xs-75 {
		padding-bottom: 75px;
	}
	.m-top-xs-100 {
		margin-top: 100px;
	}
	.m-bot-xs-100 {
		margin-bottom: 100px;
	}
	.p-top-xs-100 {
		padding-top: 100px;
	}
	.p-bot-xs-100 {
		padding-bottom: 100px;
	}
	.m-top-xs-125 {
		margin-top: 125px;
	}
	.m-bot-xs-125 {
		margin-bottom: 125px;
	}
	.p-top-xs-125 {
		padding-top: 125px;
	}
	.p-bot-xs-125 {
		padding-bottom: 125px;
	}
	.m-top-xs-150 {
		margin-top: 150px;
	}
	.m-bot-xs-150 {
		margin-bottom: 150px;
	}
	.p-top-xs-150 {
		padding-top: 150px;
	}
	.p-bot-xs-150 {
		padding-bottom: 150px;
	}
}

@media only screen and (min-width: 768px) {
	.m-top-sm-0 {
		margin-top: 0px;
	}
	.m-bot-sm-0 {
		margin-bottom: 0px;
	}
	.p-top-sm-0 {
		padding-top: 0px;
	}
	.p-bot-sm-0 {
		padding-bottom: 0px;
	}
	.m-top-sm-10 {
		margin-top: 10px;
	}
	.m-bot-sm-10 {
		margin-bottom: 10px;
	}
	.p-top-sm-10 {
		padding-top: 10px;
	}
	.p-bot-sm-10 {
		padding-bottom: 10px;
	}
	.m-top-sm-15 {
		margin-top: 15px;
	}
	.m-bot-sm-15 {
		margin-bottom: 15px;
	}
	.p-top-sm-15 {
		padding-top: 15px;
	}
	.p-bot-sm-15 {
		padding-bottom: 15px;
	}
	.m-top-sm-20 {
		margin-top: 20px;
	}
	.m-bot-sm-20 {
		margin-bottom: 20px;
	}
	.p-top-sm-20 {
		padding-top: 20px;
	}
	.p-bot-sm-20 {
		padding-bottom: 20px;
	}
	.m-top-sm-30 {
		margin-top: 30px;
	}
	.m-bot-sm-30 {
		margin-bottom: 30px;
	}
	.p-top-sm-30 {
		padding-top: 30px;
	}
	.p-bot-sm-30 {
		padding-bottom: 30px;
	}
	.m-top-sm-25 {
		margin-top: 25px;
	}
	.m-bot-sm-25 {
		margin-bottom: 25px;
	}
	.p-top-sm-25 {
		padding-top: 25px;
	}
	.p-bot-sm-25 {
		padding-bottom: 25px;
	}
	.m-top-sm-50 {
		margin-top: 50px;
	}
	.m-bot-sm-50 {
		margin-bottom: 50px;
	}
	.p-top-sm-50 {
		padding-top: 50px;
	}
	.p-bot-sm-50 {
		padding-bottom: 50px;
	}
	.m-top-sm-75 {
		margin-top: 75px;
	}
	.m-bot-sm-75 {
		margin-bottom: 75px;
	}
	.p-top-sm-75 {
		padding-top: 75px;
	}
	.p-bot-sm-75 {
		padding-bottom: 75px;
	}
	.m-top-sm-100 {
		margin-top: 100px;
	}
	.m-bot-sm-100 {
		margin-bottom: 100px;
	}
	.p-top-sm-100 {
		padding-top: 100px;
	}
	.p-bot-sm-100 {
		padding-bottom: 100px;
	}
	.m-top-sm-125 {
		margin-top: 125px;
	}
	.m-bot-sm-125 {
		margin-bottom: 125px;
	}
	.p-top-sm-125 {
		padding-top: 125px;
	}
	.p-bot-sm-125 {
		padding-bottom: 125px;
	}
	.m-top-sm-150 {
		margin-top: 150px;
	}
	.m-bot-sm-150 {
		margin-bottom: 150px;
	}
	.p-top-sm-150 {
		padding-top: 150px;
	}
	.p-bot-sm-150 {
		padding-bottom: 150px;
	}
}

@media only screen and (min-width: 992px) {
	.m-top-md-0 {
		margin-top: 0px;
	}
	.m-bot-md-0 {
		margin-bottom: 0px;
	}
	.p-top-md-0 {
		padding-top: 0px;
	}
	.p-bot-md-0 {
		padding-bottom: 0px;
	}
	.m-top-md-10 {
		margin-top: 10px;
	}
	.m-bot-md-10 {
		margin-bottom: 10px;
	}
	.p-top-md-10 {
		padding-top: 10px;
	}
	.p-bot-md-10 {
		padding-bottom: 10px;
	}
	.m-top-md-15 {
		margin-top: 15px;
	}
	.m-bot-md-15 {
		margin-bottom: 15px;
	}
	.p-top-md-15 {
		padding-top: 15px;
	}
	.p-bot-md-15 {
		padding-bottom: 15px;
	}
	.m-top-md-20 {
		margin-top: 20px;
	}
	.m-bot-md-20 {
		margin-bottom: 20px;
	}
	.p-top-md-20 {
		padding-top: 20px;
	}
	.p-bot-md-20 {
		padding-bottom: 20px;
	}
	.m-top-md-30 {
		margin-top: 30px;
	}
	.m-bot-md-30 {
		margin-bottom: 30px;
	}
	.p-top-md-30 {
		padding-top: 30px;
	}
	.p-bot-md-30 {
		padding-bottom: 30px;
	}
	.m-top-md-25 {
		margin-top: 25px;
	}
	.m-bot-md-25 {
		margin-bottom: 25px;
	}
	.p-top-md-25 {
		padding-top: 25px;
	}
	.p-bot-md-25 {
		padding-bottom: 25px;
	}
	.m-top-md-50 {
		margin-top: 50px;
	}
	.m-bot-md-50 {
		margin-bottom: 50px;
	}
	.p-top-md-50 {
		padding-top: 50px;
	}
	.p-bot-md-50 {
		padding-bottom: 50px;
	}
	.m-top-md-75 {
		margin-top: 75px;
	}
	.m-bot-md-75 {
		margin-bottom: 75px;
	}
	.p-top-md-75 {
		padding-top: 75px;
	}
	.p-bot-md-75 {
		padding-bottom: 75px;
	}
	.m-top-md-100 {
		margin-top: 100px;
	}
	.m-bot-md-100 {
		margin-bottom: 100px;
	}
	.p-top-md-100 {
		padding-top: 100px;
	}
	.p-bot-md-100 {
		padding-bottom: 100px;
	}
	.m-top-md-125 {
		margin-top: 125px;
	}
	.m-bot-md-125 {
		margin-bottom: 125px;
	}
	.p-top-md-125 {
		padding-top: 125px;
	}
	.p-bot-md-125 {
		padding-bottom: 125px;
	}
	.m-top-md-150 {
		margin-top: 150px;
	}
	.m-bot-md-150 {
		margin-bottom: 150px;
	}
	.p-top-md-150 {
		padding-top: 150px;
	}
	.p-bot-md-150 {
		padding-bottom: 150px;
	}
}

@media only screen and (min-width: 1200px) {
	.m-top-lg-0 {
		margin-top: 0px;
	}
	.m-bot-lg-0 {
		margin-bottom: 0px;
	}
	.p-top-lg-0 {
		padding-top: 0px;
	}
	.p-bot-lg-0 {
		padding-bottom: 0px;
	}
	.m-top-lg-10 {
		margin-top: 10px;
	}
	.m-bot-lg-10 {
		margin-bottom: 10px;
	}
	.p-top-lg-10 {
		padding-top: 10px;
	}
	.p-bot-lg-10 {
		padding-bottom: 10px;
	}
	.m-top-lg-15 {
		margin-top: 15px;
	}
	.m-bot-lg-15 {
		margin-bottom: 15px;
	}
	.p-top-lg-15 {
		padding-top: 15px;
	}
	.p-bot-lg-15 {
		padding-bottom: 15px;
	}
	.m-top-lg-20 {
		margin-top: 20px;
	}
	.m-bot-lg-20 {
		margin-bottom: 20px;
	}
	.p-top-lg-20 {
		padding-top: 20px;
	}
	.p-bot-lg-20 {
		padding-bottom: 20px;
	}
	.m-top-lg-30 {
		margin-top: 30px;
	}
	.m-bot-lg-30 {
		margin-bottom: 30px;
	}
	.p-top-lg-30 {
		padding-top: 30px;
	}
	.p-bot-lg-30 {
		padding-bottom: 30px;
	}
	.m-top-lg-25 {
		margin-top: 25px;
	}
	.m-bot-lg-25 {
		margin-bottom: 25px;
	}
	.p-top-lg-25 {
		padding-top: 25px;
	}
	.p-bot-lg-25 {
		padding-bottom: 25px;
	}
	.m-top-lg-50 {
		margin-top: 50px;
	}
	.m-bot-lg-50 {
		margin-bottom: 50px;
	}
	.p-top-lg-50 {
		padding-top: 50px;
	}
	.p-bot-lg-50 {
		padding-bottom: 50px;
	}
	.m-top-lg-75 {
		margin-top: 75px;
	}
	.m-bot-lg-75 {
		margin-bottom: 75px;
	}
	.p-top-lg-75 {
		padding-top: 75px;
	}
	.p-bot-lg-75 {
		padding-bottom: 75px;
	}
	.m-top-lg-100 {
		margin-top: 100px;
	}
	.m-bot-lg-100 {
		margin-bottom: 100px;
	}
	.p-top-lg-100 {
		padding-top: 100px;
	}
	.p-bot-lg-100 {
		padding-bottom: 100px;
	}
	.m-top-lg-125 {
		margin-top: 125px;
	}
	.m-bot-lg-125 {
		margin-bottom: 125px;
	}
	.p-top-lg-125 {
		padding-top: 125px;
	}
	.p-bot-lg-125 {
		padding-bottom: 125px;
	}
	.m-top-lg-150 {
		margin-top: 150px;
	}
	.m-bot-lg-150 {
		margin-bottom: 150px;
	}
	.p-top-lg-150 {
		padding-top: 150px;
	}
	.p-bot-lg-150 {
		padding-bottom: 150px;
	}
}

.h-95vh {
	height: 95vh;
}

.h-75vh {
	height: 75vh;
}

.h-100vh {
	height: 100vh;
}

@media only screen and (min-width: 480px) {
	.h-xs-95vh {
		height: 95vh;
	}
	.h-xs-75vh {
		height: 75vh;
	}
	.h-xs-100vh {
		height: 100vh;
	}
}

@media only screen and (min-width: 768px) {
	.h-sm-95vh {
		height: 95vh;
	}
	.h-sm-75vh {
		height: 75vh;
	}
	.h-sm-100vh {
		height: 100vh;
	}
}

@media only screen and (min-width: 992px) {
	.h-md-95vh {
		height: 95vh;
	}
	.h-md-75vh {
		height: 75vh;
	}
	.h-md-100vh {
		height: 100vh;
	}
}

@media only screen and (min-width: 1200px) {
	.h-lg-95vh {
		height: 95vh;
	}
	.h-lg-75vh {
		height: 75vh;
	}
	.h-lg-100vh {
		height: 100vh;
	}
}

/*
 =========================================
 RESPONSIVE
 =========================================
*/

.d-mobile {
	display: block;
}

.d-desktop-inline {
	display: none;
}

.d-desktop {
	display: none;
}

@media (min-width: 768px) {
	.d-mobile {
		display: none;
	}
	.d-desktop {
		display: block;
	}
	.d-desktop-inline {
		display: inline;
	}
}

@media (max-width: 992px) {
	.off-on-mobile {
		display: none !important;
	}
}

/*
 =========================================
 VARIOUS
 =========================================
*/

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Chrome/Safari/Opera */
	-khtml-user-select: none;
	/* Konqueror */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently not supported by any browser */
}

.fullpage {
	width: 100%;
	height: 100vh;
}

@media (max-width: 992px) {
	.offonsmallscreens {
		display: none;
	}
}

.d-block  {
	display: block;
}
/*
 =========================================
	TYPOGRAPHY
 =========================================
*/

.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
