@import 'bootstrapVars';
@import 'bootstrap';
@import 'reset';
@import 'project';
@import 'fonts';
@import 'typography';
@import 'utilities';

section {
	min-height: 100px;
	width: 100%;
	&.sectionFg {
		background: $fg;
	}
}

body {
}

.footerspacer {
	display: block;
	width: 100%;
	height: 2px;
}
@media (min-width: 768px) {
	.footerspacer {
		display: inline-block;
		width: 30px;
		height: 1px;
	}
}

.bg-dunkel {
	background: #d0d6e0;
}

#sketch2 img {
	display: none;
}
@media (max-width: 768px) {
	#sketch2 img {
		display: block;
		margin-top: 50px;
		margin-bottom: 30px;
	}
}
